.input-div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #201a1a;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-member {
    margin-right: 10px;
    background-color: #2196f3; /* Blue button color */
}

.create-group:hover, .add-member:hover {
    background-color: #45a049;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.search-container {
    margin-top: 20px;
    text-align: center;
}

.search-bar {
    padding: 10px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px; /* Increased padding for better visibility */
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333; /* Darker text for headers */
}
*/


body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url('am_pic.jpg');
    color: black;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: rgba(78, 74, 74, 0.5); /* White background with 90% opacity */
}

.sub-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(95, 73, 73, 0.1);
    background-color: rgba(255, 255, 255, 0.9); /* White background with 90% opacity */
}

.input-div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-member {
    margin-right: 10px;
    background-color: #2196f3;
}

.create-group:hover, .add-member:hover {
    background-color: #45a049;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.search-container {
    margin-top: 20px;
    text-align: center;
}

.search-bar {
    padding: 10px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}
