.a{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    writing-mode:vertical-rl;
}

.b{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    writing-mode:vertical-lr;
}

.c{
    height: 20px;
    width: 100px;
    border: 2px solid black;
    writing-mode:horizontal-tb;
}

