div{
    height: 40px;
    width: 100px;
    background-color: lightgray;
    border: 3px solid black;
    display: flex;
    align-items: center;
    /*transition-property: all;
    transition-duration: 1s;
    transition-timing-function: 3s;
    transition-delay: 1s;*/
    /*shorthand trasition*/
    transition: all 1s ease-in 1s;
}

div:hover{
    background-color: rgb(162, 250, 246);
    color:rgb(55, 0, 255);
    font-size: 20px;
}

div:active {
    background-color: black;
}








/*transform-rotate-45deg
div{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    font-size: 30px;
    justify-content: center;
    transform: rotate(45deg);
}
*/



/*transform-rotate-90deg
div{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    font-size: 30px;
    justify-content: center;
    transform: rotate(90deg);
}
*/



/*transform-rotate-130deg
div{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    font-size: 30px;
    justify-content: center;
    transform: rotate(130deg);
}
*/




/*transform-rotate-130deg
div{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    font-size: 30px;
    justify-content: center;
    transform: rotate(170deg);
}
*/


/*transform-rotate-many properties
div{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    font-size: 30px;
    justify-content: center;*/
    /*these are properties use anyone property from this*/ 
    /*rotate: 45deg;
    rotate: x 45deg;
    rotate: x 90deg;
    rotate: y 85deg;
    rotate: z 45deg;
    rotate: z 90deg;
}
*/




/*too much properties for box size small/big*/
div{
    height: 150px;
    width: 150px;
    border: 3px solid black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 200px;
    right: 550px;
    transform:scale(0.5);   /*half of before box*/
    transform: scale(1);    /*as it is box*/
    transform: scale(2);    /*twice than before box*/
    transform: scale(1,2);  /*width is as it  is & height is twice*/
    transform: scale(2,1);  /*width is twice & height is as it  is*/
    transform: scaleX(2);   /*width is twice*/
    transform: scaleY(2);   /*height is twice*/

}


/*move the box -use this property*/
div:hover{
    transform:scale(0.5); 
    transform: scale(1);   
    transform: scale(2);   
    transform: scale(1,2);  
    transform: scale(2,1);
    transform: scaleY(2); 
    transform:scaleX(2);
}

