/*
#one{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
}

#two{
    height: 50px;
    width: 30%;
    background-color: pink;

}










#one{
    height: 100px;
    width: 100px;
    background-color: rgb(185, 255, 127);
}

#two{
    height: 50px;
    width: 30%;
    background-color: rgb(226, 17, 52);
    margin: 10%;
}











#one{
    height: 100px;
    width: 300px;
    background-color: rgb(185, 255, 127);
    font-size: 20px;
}

#two{
    height: 50px;
    width: 30%;
    background-color: rgb(226, 17, 52);
    font-size: 2em;
}











#one{
    height: 100px;
    width: 300px;
    background-color: rgb(185, 255, 127);
    font-size: 20px;
}

#two{
    height: 50px;
    width: 30%;
    background-color: rgb(226, 17, 52);
    font-size: 2em;
    width: 5em;
}

*/







#Eight{
    height: 100px;
    width: 200px;
    background-color: rgb(245, 245, 25);
    font-size: 10px;
}

#nine{
    height: 50px;
    width: 30%;
    background-color: aquamarine;
    margin-left: 10%;
    font-size: 2em;
    width: 5rem;
}