#one{
    height: 100px;
    width: 1000px;
    background-color: aquamarine;
    border-style:dashed;
    border-width: 6px;
    border-color: blueviolet;
    padding-left: 25px;
}

#two{
    height: 100px;
    width: 500px;
    background-color: rgb(219, 241, 18);
    color: rgb(37, 37, 7);
    border-style: dotted;
    border-width: 3px;
    border-color: white;
    padding: 50px;
}

#three{
    height: 100px;
    width: 400px;
    background-color: rgb(231, 135, 56);
    color: rgb(20, 20, 18);
    border:4px solid rgb(229, 245, 9);
    padding: 30px 40px 10px 40px;
}

#four{
    height:100px;
    width: 1000px;
    background-color: bisque;
    border:4px double black;
    margin-bottom: 50px;
}


#five{
    height:100px;
    width: 1000px;
    background-color: rgb(214, 129, 26);
    border:9px double rgb(74, 18, 228);
    margin: 50px;
}

#six{
    height:100px;
    width: 1000px;
    background-color: rgb(54, 214, 22);
    border:7px double rgb(230, 7, 7);
    margin:20px 30px 70px 50px;
}



